:root {
  --bar-level-zero-color: #D7E2FF;
  --progress-bar-level-zero-color: #648DFF;
  --bar-level-one-color: #C5E09F;
  --progress-bar-level-one-color: #97C94E;
  --bar-level-two-color: #FAF4D1;
  --progress-bar-level-two-color: #F0DC6F;
  --bar-level-three-color: #F9E7DA;
  --progress-bar-level-three-color: #F0C09D;
  --gantt-container-height: 100%;
}

@font-face {
  font-family: "Selawik";
  src: url('/assets/fonts/selawk.ttf');
}

@font-face {
  font-family: "Selawik Semibold";
  src: url('/assets/fonts/selawksb.ttf');
}
@font-face {
  font-family: "Selawik Bold";
  src: url('/assets/fonts/selawkb.ttf');
}

@font-face {
  font-family: "Selawik Semilight";
  src: url('/assets/fonts/selawksl.ttf');
}


.gantt .grid-background {
  fill: none;
  font-family: 'Selawik';
}

.gantt .grid-header {
  fill: #d1d1d1;
  stroke: #e0e0e0;
  stroke-width: 1.4;
}

.gantt .task-header {
  fill: #ffffff;
  stroke: #a8a8a8;
  stroke-width: 1;
}

.gantt .overdue-label {
  stroke-width: 1;
  stroke: #F06C6C;
  dominant-baseline: central;
  text-anchor: middle;
  font-family: 'Selawik';
}

.gantt .task-name {
  stroke-width: 1;
  stroke: #000000;
  dominant-baseline: central;
  text-anchor: middle;
  font-family: 'Selawik';
}

.gantt .grid-row {
  fill: #ffffff;
}

.gantt .grid-row:nth-child(even) {
  fill: #ffffff;
}

.gantt .row-line {
  stroke: #ebeff2;
}

.gantt .last-row-line {
  stroke: #a8a8a8;
}

.gantt .tick {
  stroke: #e0e0e0;
  stroke-width: 0.2;
}

.gantt .tick.thick {
  stroke-width: 0;
}

.gantt .today-highlight {
  fill: #fbaf1c;
  opacity: 0.5;
}

.gantt .month-divisor {
  fill: none;
  stroke: #666;
  stroke-linecap: butt;
  stroke-dasharray: 10, 8;
  opacity: 0.5;
}

.gantt .today-divisor {
  fill: none;
  stroke: #fbaf1c;
  stroke-linecap: butt;
}

.gantt .arrow {
  fill: none;
  stroke: #666;
  stroke-width: 1.4;
}

.gantt .bar {
  stroke: #8D99A6;
  stroke-width: 0;
  transition: stroke-width .3s ease;
  user-select: none;
}

.gantt .bar-level-zero {
  fill: #D7E2FF;
}

.gantt .bar-level-one {
  fill:#C5E09F;
}

.gantt .bar-level-two {
  fill: #FAF4D1;
}

.gantt .bar-level-three {
  fill: #F9E7DA;
}

.gantt .bar-overdue {
  stroke-width: 2;
  stroke: #F06C6C;
  stroke-opacity: 1;
}

.gantt .bar-progress-zero {
  fill: #648DFF;
}

.gantt .bar-progress-one {
  fill: #97C94E;
}

.gantt .bar-progress-two {
  fill: #F0DC6F;
}

.gantt .bar-progress-three {
  fill: #F0C09D;
}

.gantt .bar-invalid {
  fill: transparent;
  stroke: #8D99A6;
  stroke-width: 1;
  stroke-dasharray: 5;
}

.gantt .bar-invalid ~ .bar-label {
  fill: #555;
}

.gantt .bar-label {
  fill: #000000;
  dominant-baseline: central;
  text-anchor: middle;
  font-size: 12px;
  font-weight: lighter;
  font-family: 'Selawik';
}

.gantt .bar-label.big {
  fill: #555;
  text-anchor: start;
}

.gantt .bar-label-progress {
  font-weight: 800;
  font-size: 12px;
  font-family: 'Selawik';
}

.gantt .year-context {
  stroke-width: 0.7;
  fill: none;
  stroke: #000000;
  stroke-dasharray: 10, 9;
}

.gantt .handle {
  fill: #ddd;
  cursor: ew-resize;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease;
}

.filter {
  fill: #ffffff;
  position: relative;
  top: 0;
  left: 0;
}

.gantt .bar-wrapper {
  cursor: pointer;
  outline: none;
  /*&:hover {
      .bar {
        //fill: darken(var(--bar-progress-color-light), 5);
        fill: var(--bar-progress-color-light);
      }

      .bar-progress {
        //fill: darken(var(--bar-progress-color), 5);
        fill: var(--bar-progress-color);
      }

      .handle {
        visibility: visible;
        opacity: 1;
      }
    }

    &.active {
      .bar {
        //fill: darken(var(--bar-progress-color-light), 5);
        fill: var(--bar-progress-color-light);
      }

      .bar-progress {
        //fill: darken(var(--bar-progress-color), 5);
        fill: var(--bar-progress-color);
      }
    }
     */
}

.gantt .lower-text, .gantt .upper-text {
  font-size: 13px;
  font-family: 'Selawik';
}

.gantt .upper-text {
  fill: #555;
}

.gantt .lower-text {
  fill: #333;
  text-anchor: middle;
  font-family: 'Selawik';
}

.gantt .hide {
  display: none;
}

.gantt-container {
  position: relative;
  overflow-x: scroll;
  overflow-y: scroll;
  font-size: 12px;
  height: 500px;
  /*height: 100%;*/
  /*width: var(--gantt-container-width);*/
}

.gantt-container .popup-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background: #F06C6C;
  padding: 0;
  color: white;
  font-style: oblique;
  font-family: 'Selawik';
  border-radius: 3px;
}

.gantt-container .popup-wrapper .title {
  padding: 10px;
}

.gantt-container .popup-wrapper .pointer {
  position: absolute;
  height: 5px;
  margin: 0 0 0 -5px;
  border: 5px solid transparent;
  border-top-color: #F06C6C;
}

.gantt-container .gantt-target {
  height: 100%;
  width: 100%;
}

.gantt-container .popup-wrapper-color {
  position: absolute;
  top: 0;
  left: 0;
  background: #F06C6C;
  padding: 0;
  color: white;
  border-radius: 8px;
  width: max-content;
}

.gantt-container .popup-wrapper-color .title {
  padding: 10px;
  color: #000000;
  font-weight: lighter;
  font-family: 'Selawik';
}

.gantt-container .popup-wrapper-color .pointer {
  position: absolute;
  height: 5px;
  margin: 0 0 0 -5px;
  border: 5px solid transparent;
  border-top-color: #F06C6C;
}

.gantt-container .task-level-zero {
  background: #648DFF;
}

.gantt-container .task-level-zero .pointer {
  border-top-color: #648DFF;
}

.gantt-container .task-level-one {
  background:#97C94E;
}

.gantt-container .task-level-one .pointer {
  border-top-color: #97C94E;
}

.gantt-container .task-level-two {
  background: #F0DC6F;
}

.gantt-container .task-level-two .pointer {
  border-top-color: #F0DC6F;
}

.gantt-container .task-level-three {
  background: #F0C09D;
}

.gantt-container .task-level-three .pointer {
  border-top-color: #F0C09D;
}

.gantt-container .task-overdue {
  background: #F06C6C;
}

.gantt-container .task-overdue .title {
  color: white;
  font-weight: bold;
  font-family: 'Selawik';
}

.gantt-container .task-overdue .pointer {
  border-top-color: #F06C6C;
}

.gantt-container .radio-btn {
  margin-left: 40px;
  /* The Container */
  /* Hide the browser's default radio button */
  /* Create a custom radio button */
  /* On mouse-over, add a grey background color */
  /* When the radio button is checked, add a blue background */
  /* Create the indicator (the dot/circle - hidden when not checked) */
  /* Show the indicator (dot/circle) when checked */
  /* Style the indicator (dot/circle) */
}

.gantt-container .radio-btn .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 11px;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.gantt-container .radio-btn .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.gantt-container .radio-btn .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: white;
  border-radius: 10%;
  border: 1px solid #75B141;
}

.gantt-container .radio-btn .container:hover input ~ .checkmark {
  background-color: #dbead6;
}

.gantt-container .radio-btn .container input:checked ~ .checkmark {
  background-color: white;
}

.gantt-container .radio-btn .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.gantt-container .radio-btn .container input:checked ~ .checkmark:after {
  display: block;
}

.gantt-container .radio-btn .container .checkmark:after {
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  border-radius: 80%;
  background: #75B141;
}
.checkbox {
  stroke: #75B141;
  stroke-width: 1;
  transition: stroke-width .3s ease;
  user-select: none;
}

.gantt .filter-option-name {
  stroke-width: 1;
  stroke: #000000;
  dominant-baseline: central;
  font-family: 'Selawik';
}

.gantt .circle {
  fill: #75B141;
}

.gantt .empty .emptyBox{
  fill: #ffffff;
}
.gantt .empty .empty-text{
  fill: black;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Selawik';
}
